@page "/job"
@inject NavigationManager _nav

<h3>Job</h3>

<h4>Read & follow templates.</h4>
<button class="btn btn-primary" @onclick="@EnableAskJobType">Yes</button>
<br>
<br>

@if (jobType)
{
    <h4>Ask job type.</h4>
    <button class="btn btn-primary" @onclick="@EnableAskAddress">Yes</button>
    <br>
    <br>

    @if (addressTrue)
    {

        <h4>Ask address (select <b>NO</b> and then <b>YES</b> button scenario).</h4>
        <button class="btn btn-primary" disabled=@disableYesBtn @onclick="@EnableValidAddressInGoogle">Yes</button>
        <button class="btn btn-primary" disabled=@disableNoBtn @onclick="@SetAddressToFalse">No</button>
        <br>
        <br>

        Console.WriteLine("addressFalse: {0}", addressFalse);
        @if (validAddress)
        {
            <h4>Google and confirm address.</h4>
            <button class="btn btn-primary" @onclick="@EnableAskNameAndPhoneNumber">Yes</button>
            <br>
            <br>
            addressFalse = false;
            Console.WriteLine("addressFalse: {0}", addressFalse);
            @if (nameAndPhone)
            {
                <h4>Ask name and phone number.</h4>
                <button class="btn btn-primary" @onclick="@VerifyClickYesBtn">Yes</button>
                <br>
                <br>
                @if (clickedYes)
                {
                    <DropDownButton OnClick="VerifyAnswer" />
                    <br>
                    <br>
                    @if (correctAnswer)
                    {
                        <button class="btn btn-success" @onclick="@(()=>_nav.NavigateTo("/"))">Congratulations, you have completed all modules!</button>
                        clickedYes = false;
                    }
                }
            }
        }
    }
    @if (addressFalse)
    {
        validAddress = false;
        <h4>Ask zip code.</h4>
        <button class="btn btn-primary" @onclick="@EnableAskZipCode">Yes</button>
        <br>
        <br>
        @if (zipCode)
        {
            <h4>Ask name and phone number.</h4>
            <button class="btn btn-primary" @onclick="@VerifyClickYesBtn">Yes</button>
            <br>
            <br>
            @if (clickedYes)
            {
                <DropDownButton OnClick="VerifyAnswer" />
                <br>
                <br>
                @if (correctAnswer)
                {
                    <button class="btn btn-dark" @onclick="@DisableBtn">Now, click this button and select <b>YES</b> scenario for Ask Address</button>
                    nameAndPhone = false;
                    clickedYes = false;
                    correctAnswer = false;
                }
            }
        }
    }
}

@code
{
    private bool disableYesBtn = true;
    private bool disableNoBtn { get; set; }
    private bool correctAnswer = false;
    private bool clickedYes { get; set; }
    private bool readTemplates = false;
    private bool jobType = false;
    private bool addressTrue { get; set; }
    private bool addressFalse { get; set; }
    private bool validAddress { get; set; } = false;
    private bool zipCode { get; set; } = false;
    private bool nameAndPhone { get; set; } = false;
    private bool IsShow { get; set; } = false;

    private void DisableBtn()
    {
        disableYesBtn = false;
        disableNoBtn = true;
    }

    private void Show()
    {
        IsShow = !IsShow;
    }

    private void VerifyAnswer()
    {
        correctAnswer = true;
    }

    private void VerifyClickYesBtn()
    {
        clickedYes = true;
    }

    private void ReadandFollowTemplates()
    {
        readTemplates = true;
    }

    private void EnableAskJobType()
    {
        jobType = true;
    }

    private void EnableAskAddress()
    {
        addressTrue = true;
    }

    private void SetAddressToFalse()
    {
        addressFalse = true;
    }

    private void EnableValidAddressInGoogle()
    {
        validAddress = true;
    }

    private void EnableAskZipCode()
    {
        zipCode = true;
    }

    private void EnableAskNameAndPhoneNumber()
    {
        nameAndPhone = true;
    }
}